#expression-detection-custom-container .super-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -413px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


#expression-detection-custom-container .super-container .tab-container {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  border-radius: 16px 0px 0px 16px;
  background-color: #F9F9FB;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.animate-expression-detection-iframe {
  -webkit-animation: appear 0.5s forwards;
  animation: appear 0.5s forwards;
}

.animate-expression-detection-iframe-open {
  -webkit-animation: slide-in 0.5s forwards;
  animation: slide-in 0.5s forwards;
}

.animate-expression-detection-iframe-close {
  -webkit-animation: slide-out 0.5s backwards;
  animation: slide-out 0.5s backwards;
}

@keyframes appear {
  0% {
    right: -473px;
  }
  100% {
    right: -413px;
  }
}

@keyframes slide-in {
  0% {
    right: -413px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slide-out {
  0% {
    right: 0px;
  }
  100% {
    right: -413px;
  }
}

#expression-detection-custom-container .super-container .tab-container .logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#expression-detection-custom-container .super-container .tab-container .arrow-right {
  transform: rotate(180deg);
}

#expression-detection-custom-container .super-container .custom-container {
  width: 413px;
  max-width: 100%;
  max-height: 700px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  background-color: #F9F9FB;
  border-radius: 16px 0px 0px 16px;
}

#iframe-expression-detection {
  border-radius: 16px 0px 0px 16px;
}

#expression-detection-custom-container .super-container .custom-container .iframe-container {
  width: 100%;
  height: 650px;
}

#expression-detection-custom-container .super-container .custom-container .iframe-container .frame {
  width: 100%;
  height: 100%;
}
