<div id="expression-detection-custom-container">
  <div class="tab-container animate-expression-detection-iframe"></div>

  <div class="custom-container">
    <div class="header-container">
      <img class="header-close" />
    </div>
    <div class="iframe-container">
      <iframe
        id="iframe-expression-detection"
        class="frame"
        src="http://localhost:3000/start"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="auto"
        onload=""
        allowtransparency="false"
      >
      </iframe>
      <script text="javascript" id="iframe-script">
        function captureVideo(video) {
          const canvas = document.createElement("canvas");
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
          const canvasContext = canvas.getContext("2d");
          canvasContext.drawImage(video, 0, 0);
          // Get video content in base64
          const dataURL = canvas.toDataURL("image/png");
          return {
            dataURL,
            width: video.videoWidth,
            height: video.videoHeight,
          };
        }

        class VideoFrameController {
          _frames;
          _interval;
          _frameIndex = 0;
          _intervalTimeBetweenFramesInSeconds = 1;

          constructor() {
            console.log("VideoFrameController");
          }

          start() {
            this._interval = setInterval(() => {
              // Retrieve our custom made IFrame
              const iFrame = document.querySelector(
                "#iframe-expression-detection"
              );
              const frameSelected = this.frames[this.frameIndex];
              // Send video frame to our custom IFrame
              if (frameSelected) {
                const {
                  dataURL: frame,
                  width,
                  height,
                } = captureVideo(frameSelected);
                iFrame.contentWindow.postMessage(
                  { type: "expression-detection.SendFrame", frame },
                  "*"
                );
              }
            }, this.intervalTimeBetweenFramesInSeconds * 1000);
            return true;
          }

          stop() {
            return clearInterval(this.interval);
          }

          get interval() {
            return this._interval;
          }

          get frames() {
            const videos = document.querySelectorAll("video");
            this._frames = videos;
            return this._frames;
          }

          get frameIndex() {
            return this._frameIndex;
          }

          set frameIndex(index) {
            this._frameIndex = index;
          }

          getFramesWithSnapshot() {
            const frames = [];
            const currentFrames = this.frames;
            if (currentFrames) {
              for (let index = 0; index < currentFrames.length; index++) {
                const frameSelected = currentFrames[index];
                const {
                  dataURL: frame,
                  width,
                  height,
                } = captureVideo(frameSelected);
                console.log("frame", frame)
                frames.push({ frame, width, height, index });
              }
            }
            return frames;
          }

          get intervalTimeBetweenFramesInSeconds() {
            return this._intervalTimeBetweenFramesInSeconds;
          }

          set intervalTimeBetweenFramesInSeconds(interval) {
            this._intervalTimeBetweenFramesInSeconds = interval;
          }
        }

        class MessageEventBridge {
          _frameWindow;
          _window;
          listenerWrapper;
          _messagesMap = new Map();
          constructor(frame) {
            this._frameWindow = frame;
            console.log("chrome-extension constructor", this.frameWindow);
            let that = this;
            this.listenerWrapper = (event) => this.listener(event, that);
            window.addEventListener("message", this.listenerWrapper, false);
          }

          on(message, callback) {
            this._messagesMap.set(message, callback);
          }

          listener(event, context) {
            const callback = context._messagesMap.get(event.data.type);
            return typeof callback === "function" ? callback(event) : true;
          }

          postMessage(message) {
            this.frameWindow.postMessage(message, "*");
          }

          setFrameWindow(frame) {
            this._frameWindow = frame;
          }

          get frameWindow() {
            return this._frameWindow;
          }
        }

        const videoFrameController = new VideoFrameController();
        const iFrame = document.querySelector("#iframe-expression-detection");
        const eventBridge = new MessageEventBridge(iFrame.contentWindow);
        eventBridge.on("expression-detection.GetPossibleFrames", () => {
          const iFrame = document.querySelector("#iframe-expression-detection");
          iFrame.contentWindow.postMessage(
            {
              type: "expression-detection.GetPossibleFramesResponse",
              frames: videoFrameController.getFramesWithSnapshot(),
            },
            "*"
          );
        });

        eventBridge.on("expression-detection.SelectVideoIndex", (event) => {
          videoFrameController.frameIndex = event.data.index;
        });

        eventBridge.on("expression-detection.StartSession", () => {
          videoFrameController.start();
        });

        eventBridge.on("expression-detection.StopSession", () => {
          videoFrameController.stop();
        });

        eventBridge.on("expression-detection.SetSnapshotInterval", (event) => {
          videoFrameController.intervalTimeBetweenFramesInSeconds =
            event.data.interval;
        });
      </script>
    </div>
  </div>
</div>
