<div id="reel-custom-container">
  <div class="tab-container animate-reel-iframe">
    <!-- <img class="tab-logo" /> -->
    <!-- <img class="dots-img" /> -->
  </div>

  <div class="custom-container">
    <div class="header-container">
      <!-- <img class="header-black-logo" />
      <span class="header-text">Micro</span> -->
      <img class="header-close" />
    </div>
    <div class="iframe-container">
      <iframe
        id="iframe-reel"
        class="frame"
        src="http://localhost:3000/timeline"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="auto"
        onload=""
        allowtransparency="false"
      >
      </iframe>
      <script text="javascript" id="iframe-script">
        let x;
        function captureVideo(video) {
          var canvas = document.createElement("canvas");
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
          var canvasContext = canvas.getContext("2d");
          canvasContext.drawImage(video, 0, 0);
          const dataURL = canvas.toDataURL("image/png");
          console.log(dataURL);
          return {
            dataURL,
            width: video.videoWidth,
            height: video.videoHeight,
          };
        }
        window.addEventListener("message", (event) =>
          console.log("index.html ===============>", window.x)
        );
        // chrome.runtime.onMessage.addListener((event) =>
        //   console.log("index.html ===============>", event)
        // );
        // chrome.runtime.sendMessage("paeljgecgbolabklepkpkfdkmjbhmpdb", {
        //   message: "OLAAAA",
        // });
        setInterval(() => {
          const iFrame = document.querySelector("#iframe-reel");
          console.log("index.html ===============>", iFrame, window.x);
          // iFrame.contentWindow.postMessage(x, "*");
          const video = document.querySelector("video");
          console.log(video);
          if (video) {
            const { dataURL: frame, width, height } = captureVideo(video);
            // const image = window.URL.createObjectURL(frame);
            // console.log(image);
            // const iFrame = document.querySelector("#iframe-reel");
            iFrame.contentWindow.postMessage({ type: "micro-facial", frame }, "*");
          }
        }, 5000);
      </script>
    </div>
  </div>
</div>
